@font-face {
	font-family: 'Fonte-Pixelada';
	src: url(Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fonte-Pixelada', Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.parrot {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.tree {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 10vw;
	background: url('images/tree.png') no-repeat center center;
	background-size: contain;
	border: none;
	transform: scaleX(-1); /* Inverte horizontalmente para que o tronco fique na direção correta */
  
}

.fruit {
	position: fixed;
	top: 40vh;
	left: 100vw;
	border: none;
	transform: scaleX(-1); /* Inverte horizontalmente para que o tronco fique na direção correta */
}
.goiaba-verde {
    background: url('images/goiaba-verde.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.banana-verde {
    background: url('images/banana-verde.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.coquinho-verde {
    background: url('images/coquinho-verde.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.mamao-verde {
    background: url('images/mamao-verde.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.semente-de-girassol {
    background: url('images/semente-de-girassol.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.manga-verde {
    background: url('images/manga-verde.png') no-repeat center center;
	height: 8vh;
    width: 8vw;
	background-size: contain;
}

.tree-inverted {
    transform: scaleY(-1);
}

.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 2px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 30px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.parrot{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}